<h1>New cocktail</h1>
<%= simple_form_for(@cocktail) do |r| %>
  <div class="form-group">
    <%= r.label :name %>
    <%= r.text_field :name, class: 'form-control' %>
  </div>

  <%= r.submit class: 'btn btn-primary' %>
<% end %>

<br><br>
<p><%= link_to "Back to list", cocktails_path %></p>
